.mail-cover {
    background-color: rgba(201, 242, 255, 0.5);
    left: 0px;
    top: 72px;
    position: absolute;
    width: 100%;
    height: 1000px;
    padding-bottom: 1000px;
    display: flex;
    justify-content: center;
}

.mail-area {
    width: 1233px;
    margin-top: 45px;
}

.mail-font-cover {
    height: 50px;
}

.mail-font-area {
    width: 294.72px;
}

.mail-font {
    height: 50px;
    width: 294.72px;
    font-family: Arial;
    font-size: 32px;
    font-weight: bold;
    color: rgb(80, 80, 80);
    line-height: 1.4;
}

.mail-content-cover {
    position: relative;
    margin-top: 20px;
}

.choice-font-cover {
    height: 30px;
}

.choice-font-area {
    display: flex;
    height: 100%;
}
/* メンティーボタン */
.mentee-mail-font-cover {
    position: absolute;
    height: 30px;
    left: 0px;
    width: 97px;
    cursor: pointer;
}

.mentee-mail-font-area {
    height: 23px;
    width: 100px;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: rgb(80, 80, 80);
    text-align: center;
    line-height: 1.4;
}
/* プロジェクトメンバーボタン */
.project-member-font-cover {
    position: absolute;
    height: 30px;
    left: 137px;
    width: 183px;
    cursor: pointer;
}

.project-member-font-area {
    height: 23px;
    width: 183px;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: rgb(80, 80, 80);
    text-align: center;
    line-height: 1.4;
}
/* 境界線グレーライン */
.glay-line {
    height: 2px;
    width: 1248px;
    background-color: rgb(222, 222, 222);
}

